:root {
  --BlackColor:#000;
  --OrangeColor:#E36414;
  --DakOrangeBlue:#d65c11;
  --WhiteColor: #fff;
  --SecColor:#5F0F40;
  --GrayColor:#F6F6F6;
  --DarkGray:#6B7377;
  --GrayFill:#676767;
  --Gray:#D6D6D9;
  --DarkRedColor:#9A031E;
  --YellowColor:#FB8B24;
  --Dark:#0F4C5C;
  --DarkDark:#0d414f;
  --fillBlue:#CAD9DD;
  --fillOrange:#FFD3B7;
  --fillGrag:#DFE0EE;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Almarai', sans-serif !important;
  font-size: 14px;
  direction: rtl;
  text-align: right ;
  overflow-x: hidden !important;
  transition: .75s ease-in-out;
}
#__nuxt{
  overflow-x: hidden !important;
}

a{
  text-decoration-line: none !important;
}
/* bootstrap modified */


/* class */
.text_orange{
  color: var(--OrangeColor);
}
.text_sec{
  color: var(--SecColor);
}
.text_dark{
  color: var(--Dark) !important;
}
.text_DarkRedColor{
  color: var(--DarkRedColor);
}
.btn_orange{
  background-color: var(--OrangeColor);
  color: var(--WhiteColor);
}
.btn_orange:hover{
  background-color: var(--DakOrangeBlue);
  color: var(--WhiteColor);
  cursor: pointer !important;
}
.btn_gradient{
  background-image: linear-gradient(to right,#0F4C5C,#FB8B24);
  color: var(--WhiteColor);
}
.btn_gradient:hover{
  background-image: linear-gradient(to right,#0d4350,#eb821f);
}
.btn_Dark{
  background-color: var(--Dark);
  color: var(--WhiteColor);
}
.btn_Dark:hover{
  background-color: var(--DarkDark);
  cursor: pointer !important;
}
.btn_light{
  border: 1px var(--SecColor) solid !important;
  background-color: #fff;
  color: var(--SecColor);
}
.btn_light:hover{
  border: 1px var(--SecColor) solid !important;
  background-color:  var(--SecColor);
  color: #fff;
  cursor: pointer !important;
}
.btn_sec{
  background-color: var(--SecColor);
  color: #fff;
}

.btn_sec:hover{
  background-color: #460c30;
}
.btn{
  cursor: pointer !important;
  outline: none;
  border: none;
}
.bgRed{
  background-color: var(--DarkRedColor);
}
.bgYellow{
  background-color: var(--YellowColor);
}
.bgDark{
  background-color: var(--Dark);
}
.bgGray{
  background-color: var(--GrayColor);
}
.bgGray0{
  background-color: var(--Gray);
}
.bgfillOrange{
  background-color: var(--fillOrange);
}
.bgfillGrag{
  background-color: var(--fillGrag);
}
.font-16{
  font-size: 16px;
}
.rounded_0{
  border-radius: 8px;
}
.rounded_1{
  border-radius: 25px;
}
.m-sec{
  margin-top: 120px;
}
.mb-sec{
  margin-bottom: 100px;
}
.big_text{
  font-size: 40px;
}

.fit-content{
  height: fit-content;
}
.fit_width{
  width: fit-content;
}

.cursor_pointer{
  cursor: pointer;
}
